.Footer{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(212, 212, 212, 0.815);
    width: 100%;
    height: 50px;
    align-content: center;
    align-items: center;
    display: flex;
}
footer a {
    text-decoration: none;
    color: black;
}

footer .Message{
    display: inline;
    margin: auto;
}